*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
**/application.properties
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
## Google
**/google-services.json
**/google-service-account.json
/release.jks
**.aab
